In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
absent_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
absent_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Date Time data type

In [4]:
type(absent_data.Date)

pandas.core.series.Series

In [5]:
type(absent_data.Date[0])

str

In [6]:
absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])

/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '23/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '17/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '24/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '13/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '20/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '27/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '30/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '17/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '24/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '19/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '28/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '27/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '20/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '21/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '13/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '24/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '21/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '28/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '22/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '29/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '23/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '30/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '18/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '25/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '13/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '21/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '22/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '20/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '23/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '30/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '19/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '18/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '20/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '25/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '27/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '26/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '18/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '13/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '21/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '28/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '25/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '26/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '23/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '25/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '17/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '16/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '21/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '22/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '24/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '25/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '28/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '29/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '30/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '17/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '18/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '13/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '14/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '15/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '22/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '29/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '26/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '27/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])
/tmp/ipykernel_419600/4002103775.py:1: UserWarning: Parsing '28/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date new format'] = pd.to_datetime(absent_data['Date'])

In [7]:
absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)

/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '23/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '17/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '24/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '13/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '20/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '27/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '30/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '17/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '24/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '19/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '28/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '27/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '20/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '21/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '13/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '24/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '21/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '28/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '22/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '29/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '23/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '30/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '18/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '25/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '13/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '21/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '22/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '20/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '23/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '30/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '19/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '18/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '20/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '25/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '27/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '26/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '18/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '13/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '21/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '28/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '25/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '26/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '23/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '25/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '17/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '15/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '16/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '14/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '21/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '22/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '24/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '25/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '28/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '29/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '30/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '17/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)
/tmp/ipykernel_419600/3765860018.py:1: UserWarning: Parsing '18/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  absent_data['Date_autoinfer'] = pd.to_datetime(absent_data['Date'], infer_datetime_format=True)

In [8]:
absent_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Date new format,Date_autoinfer
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,2015-07-07,2015-07-07
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,2015-07-14,2015-07-14
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,2015-07-15,2015-07-15
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,2015-07-16,2015-07-16
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,2015-07-23,2015-07-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,2018-05-23,2018-05-23
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,2018-05-23,2018-05-23
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,2018-05-24,2018-05-24
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,2018-05-24,2018-05-24
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,2018-05-31,2018-05-31

In [9]:
absent_data.Date[0]

'07/07/2015'

<img src = 'date_time_format.png' width=200 height=200>

In [10]:
absent_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Date new format,Date_autoinfer
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,2015-07-07,2015-07-07
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,2015-07-14,2015-07-14
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,2015-07-15,2015-07-15
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,2015-07-16,2015-07-16
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,2015-07-23,2015-07-23

In [11]:
absent_data['Date'] = pd.to_datetime(absent_data['Date'], format='%d/%m/%Y')

In [12]:
absent_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Date new format,Date_autoinfer
0,11,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,2015-07-07,2015-07-07
1,36,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,2015-07-14,2015-07-14
2,3,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,2015-07-15,2015-07-15
3,7,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,2015-07-16,2015-07-16
4,11,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,2015-07-23,2015-07-23

In [13]:
type(absent_data.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
absent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    datetime64[ns]
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
 12  Date new format            700 non-null    datetime64[ns]
 13  Date_autoinfer             700 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(10)
memory usage: 76.7 KB

### Extracting date/time values

In [15]:
absent_data.Date[0]

Timestamp('2015-07-07 00:00:00')

In [16]:
absent_data.Date[0].month

7

In [17]:
absent_data.Date[0].day

7

In [18]:
absent_data.Date[0].year

2015

In [19]:
absent_data.Date[0].weekday() # 1 = Tuesday

1

In [20]:
absent_data.Date[0].hour

0

In [21]:
absent_data.Date[0].minute

0

In [22]:
absent_data.Date[0].second

0

In [23]:
month_values = []
for i in range(len(absent_data.Date)):
    month_values.append(absent_data.Date[i].month)

In [24]:
len(month_values)

700

In [25]:
absent_data['month_values'] = month_values

In [26]:
absent_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Date new format,Date_autoinfer,month_values
0,11,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,2015-07-07,2015-07-07,7
1,36,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,2015-07-14,2015-07-14,7
2,3,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,2015-07-15,2015-07-15,7
3,7,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,2015-07-16,2015-07-16,7
4,11,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,2015-07-23,2015-07-23,7

### Importing mutlple tables

In [27]:
aw_calendar = pd.read_excel('Adventure Works 2020.xlsx', sheet_name='Calendar' )
aw_products = pd.read_excel('Adventure Works 2020.xlsx', sheet_name='Products' )
aw_customers = pd.read_excel('Adventure Works 2020.xlsx', sheet_name='Customers' )
aw_territory = pd.read_excel('Adventure Works 2020.xlsx', sheet_name='Territory' )
aw_sales = pd.read_excel('Adventure Works 2020.xlsx', sheet_name='Sales' )

In [28]:
aw_calendar.head(2)

,ID,Date,DayNumberOfWeek,DayName,MonthName,MonthNumberOfYear,DayNumberOfYear,WeekNumberOfYear,CalendarQuarter,CalendarYear,Fiscal Year,FiscalSemester,FiscalQuarter,FinMonthNumberOfYear,DayNumberOfMonth,Period,Month ID
0,1,2016-07-01,6,Friday,July,7,183,27,3,2016,2017,1,1,1,1,201607,1
1,2,2016-07-02,7,Saturday,July,7,184,27,3,2016,2017,1,1,1,2,201607,1

In [29]:
aw_products.head(2)

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,...,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate
0,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,...,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
1,363,1,"Mountain-200 Black, 46",1251.9813,Black,100,2294.9900,46.0,42-46 CM,24.13,...,M,1376.9940,H,Mountain-200,Serious back-country riding. Perfect for all l...,Current,Mountain Bikes,Bikes,2018-07-01,NaT

In [30]:
aw_sales.head()

,OrderDate,OrderDate Key,ProductKey,CustomerKey,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,2016-07-01,20160701,336,14501,4,SO43700,2016-07-08,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,Southwest7
1,2016-07-01,20160701,346,25863,1,SO43699,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest7
2,2016-07-01,20160701,346,28389,7,SO43698,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,France7
3,2016-07-01,20160701,310,21768,6,SO43697,2016-07-08,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,Canada7
4,2016-07-01,20160701,346,11003,9,SO43701,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Australia7

### Joining tables

__In Pandas for a horizontal combination we have merge() and join(), whereas for vertical combination we can use concat() and append().__

* Merge   (Horizontal)
* Join    (Horizontal)
* Concat  (Vertical)
* Append  (Vertical)

### merge() is used for combining data on common column names or indices.

In case of no common column names, we can use pandas argument left_on and right_on to explicitly indicate pandas on what key columns we want to merge data frames, rest everything remains similar.

In [62]:
sales_product = pd.merge(aw_sales, aw_products, on='ProductKey',how = 'outer')
sales_product.head()
sales_product.shape

(60637, 39)

In [63]:
sales_product_1 = pd.merge(aw_sales, aw_products, on='ProductKey',how = 'inner')
sales_product.head()
sales_product_1.shape

(60398, 39)

In [31]:
pd.set_option('display.max_columns', None)
#products_sales = pd.merge(aw_products, aw_sales)
products_sales_inner = pd.merge(aw_products, aw_sales, how = 'inner', on='ProductKey')
products_sales_outer = pd.merge(aw_products, aw_sales, how = 'outer', on='ProductKey')
products_sales_left = pd.merge(aw_products, aw_sales, how = 'left', on='ProductKey')
products_sales_right = pd.merge(aw_products, aw_sales, how = 'right', on='ProductKey')

products_sales_left

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,DaysToManufacture,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate,OrderDate,OrderDate Key,CustomerKey,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2017-07-01,20170701.0,12349.0,9.0,SO46681,2017-07-08,1.0,1.0,2049.0982,2049.0982,0.0,0.0,1105.8100,1105.8100,2049.0982,163.9279,51.2275,Australia7
1,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2017-07-06,20170706.0,11604.0,10.0,SO46719,2017-07-13,1.0,1.0,2049.0982,2049.0982,0.0,0.0,1105.8100,1105.8100,2049.0982,163.9279,51.2275,United Kingdom7
2,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2017-07-07,20170707.0,12576.0,9.0,SO46738,2017-07-14,1.0,1.0,2049.0982,2049.0982,0.0,0.0,1105.8100,1105.8100,2049.0982,163.9279,51.2275,Australia7
3,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2017-07-11,20170711.0,12573.0,9.0,SO46767,2017-07-18,1.0,1.0,2049.0982,2049.0982,0.0,0.0,1105.8100,1105.8100,2049.0982,163.9279,51.2275,Australia7
4,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2017-07-14,20170714.0,26234.0,4.0,SO46795,2017-07-21,1.0,1.0,2049.0982,2049.0982,0.0,0.0,1105.8100,1105.8100,2049.0982,163.9279,51.2275,Southwest7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60632,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2019-07-26,20190726.0,27434.0,4.0,SO74945,2019-08-02,2.0,1.0,28.9900,28.9900,0.0,0.0,10.8423,10.8423,28.9900,2.3192,0.7248,Southwest7
60633,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2019-07-27,20190727.0,28566.0,8.0,SO74994,2019-08-03,1.0,1.0,28.9900,28.9900,0.0,0.0,10.8423,10.8423,28.9900,2.3192,0.7248,Germany7
60634,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2019-07-27,20190727.0,26371.0,7.0,SO74996,2019-08-03,2.0,1.0,28.9900,28.9900,0.0,0.0,10.8423,10.8423,28.9900,2.3192,0.7248,France7
60635,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2019-07-28,20190728.0,23934.0,7.0,SO75028,2019-08-04,1.0,1.0,28.9900,28.9900,0.0,0.0,10.8423,10.8423,28.9900,2.3192,0.7248,France7
60636,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2019-07-28,20190728.0,12945.0,6.0,SO75006,2019-08-04,1.0,1.0,28.9900,28.9900,0.0,0.0,10.8423,10.8423,28.9900,2.3192,0.7248,Canada7

### join() is used for combining data on a key column or an index.

By default, pandas join operation is performed on indexes both data frames have default indexes values, so no need to specify any join key, join will implicitly be performed on indexes. 

Default nature of pandas join is left outer join

In [32]:
aw_customers.join(aw_sales, lsuffix='_customers', rsuffix='_sales')

,CustomerKey_customers,GeographyKey,Name,BirthDate,MaritalStatus,Gender,YearlyIncome,NumberChildrenAtHome,Occupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,OrderDate,OrderDate Key,ProductKey,CustomerKey_sales,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,11000,26,Jon Yang,1986-04-08,M,M,90000,0,Professional,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2016-07-22,2016-07-01,20160701,336,14501,4,SO43700,2016-07-08,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,Southwest7
1,11001,37,Eugene Huang,1985-05-14,S,M,60000,3,Professional,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2016-07-18,2016-07-01,20160701,346,25863,1,SO43699,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest7
2,11002,31,Ruben Torres,1985-08-12,M,M,60000,3,Professional,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2016-07-10,2016-07-01,20160701,346,28389,7,SO43698,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,France7
3,11003,11,Christy Zhu,1988-02-15,S,F,70000,0,Professional,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,2016-07-01,2016-07-01,20160701,310,21768,6,SO43697,2016-07-08,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,Canada7
4,11004,19,Elizabeth Johnson,1988-08-08,S,F,80000,5,Professional,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,2016-07-26,2016-07-01,20160701,346,11003,9,SO43701,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Australia7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,Tommy Tang,1978-07-04,M,M,30000,0,Clerical,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,2018-03-08,2018-10-30,20181030,530,26696,1,SO56921,2018-11-06,2,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,Northwest10
18480,29480,248,Nina Raji,1980-11-10,S,F,30000,0,Clerical,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,2019-01-18,2018-10-30,20181030,477,21782,1,SO56923,2018-11-06,2,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,Northwest10
18481,29481,120,Ivan Suri,1980-01-05,S,M,30000,0,Clerical,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2017-02-13,2018-10-30,20181030,484,28599,1,SO56911,2018-11-06,1,1,7.9500,7.9500,0,0,2.9733,2.9733,7.9500,0.6360,0.1988,Northwest10
18482,29482,179,Clayton Zhang,1979-03-05,M,M,30000,0,Clerical,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,2018-03-22,2018-10-30,20181030,541,26696,1,SO56921,2018-11-06,1,1,28.9900,28.9900,0,0,10.8423,10.8423,28.9900,2.3192,0.7248,Northwest10
18483,29483,217,Jsus Navarro,1979-12-08,M,M,30000,0,Clerical,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,2018-03-13,2018-10-30,20181030,567,28845,1,SO56951,2018-11-06,1,1,742.3500,742.3500,0,0,461.4448,461.4448,742.3500,59.3880,18.5588,Northwest10

In [33]:
aw_customers.join(aw_sales, on= 'CustomerKey', how = 'inner', lsuffix='_customers', rsuffix='_sales', )

,CustomerKey,CustomerKey_customers,GeographyKey,Name,BirthDate,MaritalStatus,Gender,YearlyIncome,NumberChildrenAtHome,Occupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,OrderDate,OrderDate Key,ProductKey,CustomerKey_sales,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,11000,11000,26,Jon Yang,1986-04-08,M,M,90000,0,Professional,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2016-07-22,2018-09-04,20180904,477,18123,4,SO53799,2018-09-11,1,1,4.99,4.99,0,0,1.8663,1.8663,4.99,0.3992,0.1248,Southwest9
1,11001,11001,37,Eugene Huang,1985-05-14,S,M,60000,3,Professional,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2016-07-18,2018-09-04,20180904,477,17437,4,SO53801,2018-09-11,1,1,4.99,4.99,0,0,1.8663,1.8663,4.99,0.3992,0.1248,Southwest9
2,11002,11002,31,Ruben Torres,1985-08-12,M,M,60000,3,Professional,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2016-07-10,2018-09-04,20180904,477,16383,4,SO53802,2018-09-11,1,1,4.99,4.99,0,0,1.8663,1.8663,4.99,0.3992,0.1248,Southwest9
3,11003,11003,11,Christy Zhu,1988-02-15,S,F,70000,0,Professional,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,2016-07-01,2018-09-04,20180904,605,16225,4,SO53825,2018-09-11,1,1,539.99,539.99,0,0,343.6496,343.6496,539.99,43.1992,13.4998,Southwest9
4,11004,11004,19,Elizabeth Johnson,1988-08-08,S,F,80000,5,Professional,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,2016-07-26,2018-09-04,20180904,605,21769,4,SO53827,2018-09-11,1,1,539.99,539.99,0,0,343.6496,343.6496,539.99,43.1992,13.4998,Southwest9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,29479,209,Tommy Tang,1978-07-04,M,M,30000,0,Clerical,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,2018-03-08,2019-01-10,20190110,529,29160,1,SO61798,2019-01-17,1,1,3.99,3.99,0,0,1.4923,1.4923,3.99,0.3192,0.0998,Northwest1
18480,29480,29480,248,Nina Raji,1980-11-10,S,F,30000,0,Clerical,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,2019-01-18,2019-01-10,20190110,537,11309,1,SO61830,2019-01-17,1,1,35.00,35.00,0,0,13.0900,13.0900,35.00,2.8000,0.8750,Northwest1
18481,29481,29481,120,Ivan Suri,1980-01-05,S,M,30000,0,Clerical,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2017-02-13,2019-01-10,20190110,536,23475,1,SO61804,2019-01-17,1,1,29.99,29.99,0,0,11.2163,11.2163,29.99,2.3992,0.7498,Northwest1
18482,29482,29482,179,Clayton Zhang,1979-03-05,M,M,30000,0,Clerical,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,2018-03-22,2019-01-10,20190110,605,22717,1,SO61850,2019-01-17,1,1,539.99,539.99,0,0,343.6496,343.6496,539.99,43.1992,13.4998,Northwest1
18483,29483,29483,217,Jsus Navarro,1979-12-08,M,M,30000,0,Clerical,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,2018-03-13,2019-01-10,20190110,477,19208,1,SO61809,2019-01-17,1,1,4.99,4.99,0,0,1.8663,1.8663,4.99,0.3992,0.1248,Northwest1

###  concat() is used for combining Data Frames across rows or columns

concat is by default a vertical operation. axis = 0

In [34]:
aw_combine = pd.concat([aw_products, aw_sales], axis=1, join='inner', ignore_index=False)
aw_combine.shape

(397, 40)

In [35]:
aw_combine

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,DaysToManufacture,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate,OrderDate,OrderDate Key,ProductKey,CustomerKey,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2016-07-01,20160701,336,14501,4,SO43700,2016-07-08,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,Southwest7
1,363,1,"Mountain-200 Black, 46",1251.9813,Black,100,2294.9900,46.0,42-46 CM,24.13,4,M,1376.9940,H,Mountain-200,Serious back-country riding. Perfect for all l...,Current,Mountain Bikes,Bikes,2018-07-01,NaT,2016-07-01,20160701,346,25863,1,SO43699,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest7
2,364,1,"Mountain-300 Black, 38",598.4354,Black,100,1079.9900,38.0,38-40 CM,25.35,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2016-07-01,20160701,346,28389,7,SO43698,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,France7
3,365,1,"Mountain-300 Black, 40",598.4354,Black,100,1079.9900,40.0,38-40 CM,25.77,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,2016-07-01,20160701,310,21768,6,SO43697,2016-07-08,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,Canada7
4,587,1,"Mountain-400-W Silver, 38",419.7784,Silver,100,769.4900,38.0,38-40 CM,26.35,4,M,461.6940,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT,2016-07-01,20160701,346,11003,9,SO43701,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Australia7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,537,37,HL Mountain Tire,13.0900,NaN,500,35.0000,NaN,NaN,NaN,0,M,21.0000,H,HL Mountain Tire,"Incredible traction, lightweight carbon reinfo...",Current,Tires and Tubes,Accessories,2018-07-01,NaT,2016-09-20,20160920,310,13847,10,SO44223,2016-09-27,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,United Kingdom9
393,538,37,LL Road Tire,8.0373,NaN,500,21.4900,NaN,NaN,NaN,0,R,12.8940,L,LL Road Tire,Same great treads as more expensive tire with ...,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2016-09-21,20160921,344,25886,1,SO44229,2016-09-28,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest9
394,539,37,ML Road Tire,9.3463,NaN,500,24.9900,NaN,NaN,NaN,0,R,14.9940,M,ML Road Tire,Higher density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2016-09-21,20160921,349,28401,7,SO44227,2016-09-28,1,1,3374.9900,3374.9900,0,0,1898.0944,1898.0944,3374.9900,269.9992,84.3748,France9
395,540,37,HL Road Tire,12.1924,NaN,500,32.6000,NaN,NaN,NaN,0,R,19.5600,H,HL Road Tire,Lightweight carbon reinforced for an unrivale...,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2016-09-21,20160921,334,17973,7,SO44231,2016-09-28,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,France9
396,541,37,Touring Tire,10.8423,NaN,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,2016-09-21,20160921,313,12255,7,SO44226,2016-09-28,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,France9

In [36]:
m1 = pd.DataFrame({'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
                   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
                   'Marks_scored':[98,90,87,69,78]}, index=[1,2,3,4,5])

In [37]:
m2 = pd.DataFrame({'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
                   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
                   'Marks_scored':[89,80,79,97,88]},index=[4,5,6,7,8])

In [38]:
m1

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78

In [39]:
m2

    Name subject_id  Marks_scored
4  Billy       sub2            89
5  Brian       sub4            80
6   Bran       sub3            79
7  Bryce       sub6            97
8  Betty       sub5            88

In [40]:
pd.concat([m1,m2], ignore_index=True)

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [41]:
pd.concat([m1,m2], ignore_index=False, axis=1)

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1          98.0    NaN        NaN           NaN
2     Amy       sub2          90.0    NaN        NaN           NaN
3   Allen       sub4          87.0    NaN        NaN           NaN
4   Alice       sub6          69.0  Billy       sub2          89.0
5  Ayoung       sub5          78.0  Brian       sub4          80.0
6     NaN        NaN           NaN   Bran       sub3          79.0
7     NaN        NaN           NaN  Bryce       sub6          97.0
8     NaN        NaN           NaN  Betty       sub5          88.0

###  append() combine data frames vertically fashion

In [42]:
m1.append(m2, ignore_index=True)

/tmp/ipykernel_419600/3985180740.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  m1.append(m2, ignore_index=True)

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

### Dummies, OnehotEncode, LabelEncode

In [43]:
aw_products.head()

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,DaysToManufacture,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate
0,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
1,363,1,"Mountain-200 Black, 46",1251.9813,Black,100,2294.9900,46.0,42-46 CM,24.13,4,M,1376.9940,H,Mountain-200,Serious back-country riding. Perfect for all l...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
2,364,1,"Mountain-300 Black, 38",598.4354,Black,100,1079.9900,38.0,38-40 CM,25.35,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
3,365,1,"Mountain-300 Black, 40",598.4354,Black,100,1079.9900,40.0,38-40 CM,25.77,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
4,587,1,"Mountain-400-W Silver, 38",419.7784,Silver,100,769.4900,38.0,38-40 CM,26.35,4,M,461.6940,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT

In [44]:
aw_products.Color.value_counts()

Black           129
Red              63
Yellow           46
Silver           45
Blue             28
Multi            18
Silver/Black      7
White             4
Grey              1
Name: Color, dtype: int64

### Dummies

In [45]:
pd.get_dummies(aw_products, columns=['Color'], drop_first=True)

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,DaysToManufacture,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate,Color_Blue,Color_Grey,Color_Multi,Color_Red,Color_Silver,Color_Silver/Black,Color_White,Color_Yellow
0,362,1,"Mountain-200 Black, 46",1105.8100,100,2049.0982,46.0,42-46 CM,24.13,4,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,0,0,0,0,0,0,0,0
1,363,1,"Mountain-200 Black, 46",1251.9813,100,2294.9900,46.0,42-46 CM,24.13,4,M,1376.9940,H,Mountain-200,Serious back-country riding. Perfect for all l...,Current,Mountain Bikes,Bikes,2018-07-01,NaT,0,0,0,0,0,0,0,0
2,364,1,"Mountain-300 Black, 38",598.4354,100,1079.9900,38.0,38-40 CM,25.35,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,0,0,0,0,0,0,0,0
3,365,1,"Mountain-300 Black, 40",598.4354,100,1079.9900,40.0,38-40 CM,25.77,4,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30,0,0,0,0,0,0,0,0
4,587,1,"Mountain-400-W Silver, 38",419.7784,100,769.4900,38.0,38-40 CM,26.35,4,M,461.6940,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,537,37,HL Mountain Tire,13.0900,500,35.0000,NaN,NaN,NaN,0,M,21.0000,H,HL Mountain Tire,"Incredible traction, lightweight carbon reinfo...",Current,Tires and Tubes,Accessories,2018-07-01,NaT,0,0,0,0,0,0,0,0
393,538,37,LL Road Tire,8.0373,500,21.4900,NaN,NaN,NaN,0,R,12.8940,L,LL Road Tire,Same great treads as more expensive tire with ...,Current,Tires and Tubes,Accessories,2018-07-01,NaT,0,0,0,0,0,0,0,0
394,539,37,ML Road Tire,9.3463,500,24.9900,NaN,NaN,NaN,0,R,14.9940,M,ML Road Tire,Higher density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,0,0,0,0,0,0,0,0
395,540,37,HL Road Tire,12.1924,500,32.6000,NaN,NaN,NaN,0,R,19.5600,H,HL Road Tire,Lightweight carbon reinforced for an unrivale...,Current,Tires and Tubes,Accessories,2018-07-01,NaT,0,0,0,0,0,0,0,0
396,541,37,Touring Tire,10.8423,500,28.9900,NaN,NaN,NaN,0,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT,0,0,0,0,0,0,0,0

In [46]:
diff = pd.DataFrame({'R': ['a', 'c', 'd', 'e'],
                     'T': ['d', 'a', 'c', 'f'],
                     'S_': [1, 2, 3, 4]})
 
print(diff)
print('\n')
print(pd.get_dummies(diff, columns=['R'], drop_first=False))

   R  T  S_
0  a  d   1
1  c  a   2
2  d  c   3
3  e  f   4


   T  S_  R_a  R_c  R_d  R_e
0  d   1    1    0    0    0
1  a   2    0    1    0    0
2  c   3    0    0    1    0
3  f   4    0    0    0    1

### One Hot Encode

In [47]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categories='auto', drop=None, sparse=False)
encoded_data = ohe.fit_transform(diff['R'].values.reshape(-1,1))
#Returns a NumPy array of encoded data
encoded_data

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

### Label Encode

In [48]:
from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'species'.
aw_products2= label_encoder.fit_transform(aw_products['Color'])

In [49]:
aw_products.Color

0       Black
1       Black
2       Black
3       Black
4      Silver
        ...
392       NaN
393       NaN
394       NaN
395       NaN
396       NaN
Name: Color, Length: 397, dtype: object

In [50]:
aw_products2

array([0, 0, 0, 0, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 5, 5, 5, 5, 5, 5,
       0, 0, 0, 0, 0, 0, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4,
       4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 8, 8, 8, 8, 1, 1,
       1, 8, 8, 8, 8, 8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 5, 5, 5, 0, 0, 0, 5, 5, 9, 9, 9, 9,
       9, 9, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 5, 5, 5, 0, 0, 0, 0, 5, 5, 5, 5, 0, 0, 0, 0, 0, 5, 6, 6,
       6, 6, 6, 6, 6, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 4, 0, 0, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8,
       8, 1, 1, 1, 1, 1, 1, 1, 1, 8, 8, 8, 8, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 8, 8, 8, 8, 0, 0, 0, 0, 0, 0, 0,
       7, 7, 7, 7, 0, 0, 0, 1, 1, 1, 9, 9, 9, 9, 9, 9, 9, 4, 4, 4, 0, 0,
       0, 1, 1, 1, 5, 9, 9, 9, 9, 2, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9])

### Interpolate

In [51]:
two_columns = absent_data[['Date', 'Transportation Expense']]

In [52]:
two_columns

          Date  Transportation Expense
0   2015-07-07                     289
1   2015-07-14                     118
2   2015-07-15                     179
3   2015-07-16                     279
4   2015-07-23                     289
..         ...                     ...
695 2018-05-23                     179
696 2018-05-23                     225
697 2018-05-24                     330
698 2018-05-24                     235
699 2018-05-31                     291

[700 rows x 2 columns]

In [56]:
two_columns['Transportation Expense']=two_columns['Transportation Expense'].drop(labels=[696, 698] , axis=0)

/tmp/ipykernel_419600/1518084461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  two_columns['Transportation Expense']=two_columns['Transportation Expense'].drop(labels=[696, 698] , axis=0)

In [57]:
two_columns['Transportation Expense']

0      289.0
1      118.0
2      179.0
3      279.0
4      289.0
       ...
695    179.0
696      NaN
697      NaN
698      NaN
699    291.0
Name: Transportation Expense, Length: 700, dtype: float64

In [58]:
two_columns['Transportation Expense'].interpolate(method='linear')

0      289.0
1      118.0
2      179.0
3      279.0
4      289.0
       ...
695    179.0
696    207.0
697    235.0
698    263.0
699    291.0
Name: Transportation Expense, Length: 700, dtype: float64